<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android"
        id        = "com.bysitu.bysituPhoneGapTest"
        version   = "0.0.1"
        versionCode = "0.0.1">

    <name>佰思途后台</name>

    <description>
        bysitu.com
    </description>

    <author href="http://bysitu.com" email="dev@cordova.apache.org">
        bysitu
    </author>

    <access origin="*" />
    <allow-navigation href="*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="tel:*" />
    <allow-navigation href="sms:*" />
    <allow-navigation href="mailto:*" />
    <allow-navigation href="geo:*" />

    <content src="index.html" />



    <gap:plugin name="cordova-plugin-whitelist" source="npm" version="~1" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.splashscreen" />

    <preference name="phonegap-version"           value="cli-6.3.0" />
    <preference name="permissions"                value="none"/>
    <preference name="target-device"              value="universal"/>
    <preference name="fullscreen"                 value="true"/>
    <preference name="android-build-tool" value="gradle" />
    <plugin name="phonegap-plugin-push" source="npm">
        <param name="SENDER_ID" value="360386870668" />
    </plugin>

</widget>